div.carousel.slide.carousel-fade > div.carousel-inner > div.carousel-item > img {
  width: 100%;
  display: block;
  object-fit: cover;
  filter: brightness(25%);
  object-position: 50% 50%;
  height: calc(100vh - 150px - 60px);
}

div.carousel.slide.carousel-fade
  > div.carousel-inner
  > div.carousel-item
  > div.carousel-caption
  > h3 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
